body {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.wrapper {
  width: 30%;
  margin: 5px;
}
.container {
  text-align: center;
  width: 100%;
  margin: 5px;
}

.container a .image-container {
  width: 500px;
  height: 500px;
} 

.container a .image-container .product-image {
  width: 100%;
}

.show-image {
  width: 400px;
  height: 400px;
}

.show-image img {
  width: 100%;
}